  html{
    scroll-behavior: smooth;
  }

  body{
    background: linear-gradient(to right, #007BFF, #6C757D);
    margin: 0;
  }

  h1 {
    margin-top: 0;
    text-align: center;
  }

  .nav-buttons{
    position: fixed;
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    display: flex;
    gap: 10px; /* Spacing between buttons */
  }
  
  .button-class {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: 'Arial', sans-serif; /* or any clean font */
    letter-spacing: 1px;
  }
  
  .button-class:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
  }

  .name{
    position: fixed;
    top: 10px;
    left: 10px;
    margin: 0;
    z-index: 1000;
    font-size: 50px;
    color:black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .portrait{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%
  }

  /*styling for about me paragraph*/
  .main{
    margin-left: 10%;
    margin-right: 10%
  }

  /*formatting for "hero" page user lands on*/
  .hero {
    height: 100vh;
    background: linear-gradient(to right, #007BFF, #6C757D);
    color: white;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
  }

  .hero-content h1{
    font-size: 50px;
  }

  .hero-content p{
    font-size: 30px;
  }

  .go-next-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF; /* Button color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .go-next-button:hover {
      background-color: #0056b3; /* Hover color */
  }

  #about-me-div{
    height: 100vh;
    display: flex; 
    flex-direction: column;
    background-color: #E8F0F2;
    color: #2C3E50;
    outline: none;
    justify-content: center;
    align-items: center; 
    text-align: center;
  }

  #about-me-div p{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    font-size: larger;
  }
