body{
  background: linear-gradient(to right, #007BFF, #6C757D);
}

.nav-buttons{
    position: fixed;
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    display: flex;
    gap: 10px; /* Spacing between buttons */
  }
  

  .button-class {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }
  
  .button-class:hover {
    background-color: #0056b3;
  }

  .name{
    position: fixed;
    top: 10px;
    left: 10px;
    margin: 0;
    font-size: 50px;
    color:black;
  }

  h1 {
    margin-top: 100px;
    text-align: center;
  }

  .portrait{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%
  }

  .main{
    margin-left: 10%;
    margin-right: 10%
  }

  .hero {
    height: 100vh;
    background: linear-gradient(to right, #007BFF, #6C757D);
    color: white;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding-top: 15%;
  }

  .hero-content h1{
    font-size: 50px;
  }